* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
  .cover{
    border-radius: 10px;
    border: 7px solid black;
  }
  .container {
    background-color:lightgoldenrodyellow;
    min-height: 100px;
    border-radius: 10px; 
  }
  
  .content {
    max-width: 900px;
    margin: 0 auto;
  }
  .top {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
  }
  .top h1 {
    font-size: 50px;
    font-weight: bold;
    color:#4a12fb;
    text-transform: uppercase;
  }
  .top h4 {
    font-size: 30px;
    text-align: end;
  }
  
  .cover {
    border-radius: 55%;
    overflow: hidden;

  }
  
.cover,img {
    width: 300px;
    height: 320px;
  }
.info {
    margin-top: 50px;
  }
.info h2 {
    font-size: 70px;
    font-weight: 400;
    margin-bottom: 20px;
  }
.info p {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1.2px;
    text-align: justify;
}
.ideology {
    margin: 50px 0;
  }
.ideology h3 {
    margin-bottom: 20px;
}
.ideology{
    margin-top: 50px;
} 
.ideology h3 {
  font-size: 70px;
  font-weight: 400;
  margin-bottom: 20px;
  }
.ideology p {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 1.2px;
  text-align: justify;
  }
  
.quotes {
  margin: 50px 0;
}
.quotes h3 {
  margin-bottom: 20px;
}
.quotes{
  margin-top: 50px;
 } 
.quotes h3 {
font-size: 70px;
font-weight: 400;
margin-bottom: 20px;
}
.quotes p {
font-size: 20px;
line-height: 30px;
letter-spacing: 1.2px;
text-align: justify;
}

.legacy {
   margin: 50px 0;
}
.legacy h4 {
    margin-bottom: 20px;
    font-size: 30px;
}
.legacy h3{
  font-size: 70px;
  font-weight: 380;
  margin-bottom: 20px;
}
.legacy p{
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 1.2px;
  text-align: justify;
}
footer {
    margin: 50px 0;
}
footer p {
    text-align: end;
}
